.pl-15{
	padding-left: 15px;
}
.x-btn .button {
	border: 0 none;
	background: transparent;
	font: normal 11px tahoma,verdana,helvetica;
	padding-left: 3px;
	padding-right: 3px;
	cursor: pointer;
	margin: 0;
	overflow: visible;
	width: auto;
	-moz-outline: 0 none;
	outline: 0 none;
}
.menu-background{
	background: #c1c2c3;
	box-shadow: 0px 2px 5px 0px #bbd2cf;
	padding: 4px;
}
.font-14{
	font-size: 14px;
}
.j-btn, .j-btn:hover{
	color: black;
	text-decoration: none;,
	cursor:  pointer;
}
.j-btn:hover{
	border: 1px solid #9c9797;
	padding-left: 5px;
	padding-right: 5px;
	box-shadow: inset 0px 0px 20px 0px #9c9797;
	cursor:  pointer;
}